@charset "utf-8";

@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333;
    line-height: 1;
    font-family: 'TTWanjudaedunsancheB';
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* header */
header {
    height: 100px;
    z-index: 999;
    position: relative;
}

header .inner {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 100px;
}

header .inner div:first-child {
    position: relative;
}

header .inner div:first-child h1 {
    line-height: 1;
    width: 150px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

header .inner nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgb(255, 255, 255);
    padding: 40px;
}

header .inner .menu_open {
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

header .inner nav .menu_close {
    text-align: right;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}

header .inner nav .gnb li {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin: 30px;
}

/* .main_visual */
.main_visual .swiper .swiper-wrapper .swiper-slide {
    width: 1920px;
    height: 900px;
}

/* .cont01 */
.cont01 {
    width: 1920px;
    height: 900px;
    margin: 0 auto;
    display: flex;  
}
.cont01 img {
    /* border-radius: 30px; */
}
.cont01 .left ul li {
    width: 960px;
    height: 180px;
    text-align: center;
    line-height: 180px;
    font-size: 40px;
    background-color: #333;
    color: white;
    cursor: pointer;
}
.cont01 .left ul li.on {
    position: relative;
}

.cont01 .left ul li.on::after {
    content: url('../img/굿즈1/cont01_icon.png');
    width: 30px;
    height: 30px;
    position: absolute;
    right: 50px;
}

.cont01 .left ul li:nth-child(1) {
    background-color: #f24c3d;
}

.cont01 .left ul li:nth-child(2) {
    background-color: #f29727;
}

.cont01 .left ul li:nth-child(3) {
    background-color: #f2be22;
}

.cont01 .left ul li:nth-child(4) {
    background-color: #22a699;
}

.cont01 .left ul li:nth-child(5) {
    background-color: #0079ff;
}

.cont01 .right {
    width: 960px;
    height: 100%;
    position: relative;
    transition: 1s;
}
.cont01 .right .cont01_bg {
    width: 100%;
    height: 100%;
    display: none;
}
.cont01 .right .cont01_bg.on {
    display: flex;
}
.cont01 .right::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cont01 .right .list {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.cont01 .right .list.on {
    display: flex;
}

.cont01 .right .item {
    margin-right: 10px;
}

.cont01 .right .item figure {
    width: 370px;
    height: 370px;
    overflow: hidden;
    border-radius: 30px;
}
.cont01 .right .item figure img {
    transition: 0.7s;
}
.cont01 .right .item figure img:hover {
    transform: scale(1.2);
}
.cont01 .right .item div {
    margin-top: 30px;
    color: white;
}

.cont01 .right .item div h2 {
    font-size: 30px;
    margin: 30px 0 15px;
}

.cont01 .right .item div p {
    font-size: 20px;
    margin-bottom: 30px;
}

.cont01 .right .item div strong {
    font-size: 28px;
}

/* .cont02 */
.cont02 {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../img/굿즈1/CONTBG.jpg) center center / cover no-repeat;
}

.cont02 .inner {
    width: 1440px;
    margin: 0 auto;
    padding: 100px 0;
}

.cont02 .inner .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    color: #000;
}

.cont02 .inner .title h2 {
    font-size: 60px;
}

.cont02 .inner .title a {
    line-height: 60px;
}

.cont02 .inner .item_box {
    width: 100%;
    height: 700px;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}
.cont02 .inner .item_box .box_left {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.cont02 .inner .item_box .box_left img{
    transition: 1s;
}
.cont02 .inner .item_box .box_left img:hover {
    transform: scale(1.2);
}
.cont02 .inner .item_box .box_left.on {
    display: flex;
}
.cont02 .inner .item_box .box_right,
.cont02 .inner .item_box .box_left {
    width: 720px;
    height: 700px;
}

.cont02 .inner .item_box .box_right .right_top {
    width: 720px;
    height: 390px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.cont02 .inner .item_box .box_right .right_top.on {
    display: flex;
}

.cont02 .inner .item_box .box_right .right_top h2 {
    font-size: 40px;
    margin-bottom: 5px;
}

.cont02 .inner .item_box .box_right .right_top h5 {
    margin-bottom: 50px;
}

.cont02 .inner .item_box .box_right .right_top p {
    font-size: 20px;
    margin-bottom: 150px;
}

.cont02 .inner .item_box .box_right .right_top a {}

.cont02 .inner .item_box .box_right .right_bottom {
    display: flex;
    justify-content: space-between;
    width: 720px;
    height: 310px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cont02 .inner .item_box .box_right .right_bottom .bottom_item {}

.cont02 .inner .item_box .box_right .right_bottom .bottom_item img {
    width: 100%;
    height: 240px;
    display: block;
}

.cont02 .inner .item_box .box_right .right_bottom .bottom_item h4 {
    text-align: center;
    width: 240px;
    height: 70px;
    line-height: 70px;
}
.cont02 .inner .item_box .box_right .right_bottom .bottom_item:nth-child(1) h4 {
    background-color: #22a699;
}
.cont02 .inner .item_box .box_right .right_bottom .bottom_item:nth-child(2) h4 {
    background-color: #f29727;
}
.cont02 .inner .item_box .box_right .right_bottom .bottom_item:nth-child(3) h4 {
    background-color: #f2be22;
}

/* .cont03 */
.cont03 {
    -webkit-column-width: 1920px;
    background-color: #5868ff;
    color: white;
}

.cont03 .inner {
    width: 1440px;
    margin: 100px auto;
}

.cont03 .inner .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cont03 .inner .title h2 {
    font-size: 60px;
}

.cont03 .inner .title a {
    line-height: 60px;
}

.cont03 .inner .list {
    display: flex;
    justify-content: space-between;
}

.cont03 .inner .list .item {
    width: 456px;
}

.cont03 .inner .list .item figure {
    overflow: hidden;
    width: 100%;
    height: 456px;
    border-radius: 30px;
}
.cont03 .inner .list .item figure img {
    transition: 1s;
}
.cont03 .inner .list .item figure img:hover {
    transform: scale(1.2);
}

.cont03 .inner .list .item .text {
    margin-top: 20px;
}

.cont03 .inner .list .item .text h4 {
    margin-bottom: 20px;
    font-size: 24px;
    
}

.cont03 .inner .list .item .text p {
    display: -webkit-box;
    -webkit-line-clamp: (2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* footer */
footer {
    background-color: #5868ff;
}

footer .inner {
    width: 1440px;
    margin: 0 auto;
    color: white;
    padding: 30px 0;
}
footer .inner > ul li {
    display: inline-block;
    margin-right: 20px;
}